.bookings-title {
    text-align: left;
    margin-bottom: 3rem;
    width: 27%;
  }
  
  .my-review-button {
    height: 43px;
    width: 163px;
    margin-right: 3rem;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 650;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    /* background: #ffba08; */
    background: #2b2b2b;
    color: #ffff;
  }
  
  .my-review-button:hover {
    padding: 8px 20px;
    color: #f9f9f9;
    background: linear-gradient(
      90deg,
      rgb(255, 174, 0) 0%,
      rgb(255, 128, 0) 100%
    );
  }
  
  .my-bookings-button {
    height: 43px;
    width: 163px;
    margin-right: 3rem;
    margin-left: 1rem;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 650;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    /* background: #ffba08; */
    background: #2b2b2b;
    color: #ffff;
  }
  
  .my-bookings-button:hover {
    padding: 8px 20px;
    color: #f9f9f9;
    background: linear-gradient(
      90deg,
      rgb(255, 174, 0) 0%,
      rgb(255, 128, 0) 100%
    );
  }
  
  .date-picker {
    margin-top: 1.5rem;
  }
  
  @media (max-width: 1280px) {
    .bookings-title {
      width: 33%;
    }
  }
  
  @media (max-width: 1190px) {
    .bookings-title {
      width: 30%;
    }
  }
  
  @media (max-width: 1100px) {
    .bookings-title {
      width: 35%;
    }
  }
  
  @media (max-width: 960px) {
    .bookings-title {
      width: 37.5%;
    }
    .my-bookings-button {
      height: 43px;
      width: 163px;
      text-decoration: none;
      font-size: 1.15em;
      font-weight: 650;
      padding: 8px 20px;
      border-radius: 4px;
      outline: none;
      border: none;
      cursor: pointer;
      /* background: #ffba08; */
      background: #2b2b2b;
      color: #ffff;
      margin-bottom: 2rem;
    }
  }
  
  @media (max-width: 890px) {
    .bookings-title {
      width: 43%;
    }
  }
  
  @media (max-width: 780px) {
    .bookings-title {
      width: 52%;
    }
  }
  
  @media (max-width: 676px) {
    .bookings-title {
      width: 62%;
    }
  }
  
  @media (max-width: 576px) {
    .bookings-title {
      width: 70%;
    }
  }
  
  @media (max-width: 500px) {
    .bookings-title {
      width: 75%;
    }
  }
  